* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img1{
  background-image: url(img2/box1.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;

}
.img2{
  background-image: url(img2/box2.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;

}
.img3{
  background-image: url(img2/box3.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;

}
.img4{
  background-image: url(img2/box4.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;

}